//Charte graphique Couleurs
$color-primary: #FD2D01;
$color-secondary: #FFD7D7;
$color-tertiary: #4E5166;

//MediaQueries map-breakpoints
$breakpoints: (
  tablet-min: 768px,
  tablet-max: 991px,
  desktop: 992px
);